body {
  margin-left: 15%;
  margin-right: 15%;
}

.links-to {
  text-decoration: none;
}

.user_title {
  text-align: center;
  font-size: 40px;
}

.users_info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.users_info img {
  width: 100px;
  height: 100px;
}

.users_info div {
  flex-grow: 1;
  border: solid black 2px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.user_name {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px;
}

.number_posts {
  text-align: end;
  margin-bottom: 10px;
}

.bio {
  border: solid 2px black;
  padding: 10px;
  margin-bottom: 10px;
}

.bio p {
  margin-top: 0;
}

.post_info {
  border: solid black 2px;
  margin-bottom: 20px;
  padding: 10px;
}

.number_comments_likes {
  text-align: end;
  font-size: 15px;
}

.all_posts {
  text-align: center;
}

.all_posts button {
  font-size: 20px;
}

.all_posts button > * {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color:black
}

a:visited {
  color: black;
}

.logout {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.login {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.edit_profile_link {
  display: inline-block;
  background-color: #EEEEEE;
  padding: 4px 12px;
  text-decoration:none;
  border-radius:5px;
  cursor:pointer;
  margin-bottom: 10px;
  border:solid black 1px;
}

.form-title {
  text-align: center;
}

.field {
  text-align: center;
}

.actions {
  text-align: center;
  margin-top: 10px;
}
